/* typography start */
  html{
    font-size: 62.5%;
  }
  body{
    font-size: 1.6rem;
    font-family:'Roboto', sans-serif;
  }
  h3{
    font-size: 2rem;
    color: #031c4e;
  }
  h4{
    color: #fff;
  }
  .ms_p_miniblock{
    color: #5c6a88;
  }
  .ms_intro_white h2{
    color: #fff;
    font-size: 3.5rem;
    padding-bottom: 20px;
  }
  .ms_intro h2{
    font-size: 3.5rem;
    color: #031c4e;
  }
  .ms_grey_text{
    font-size: 2.2rem;
    color: #5c6a88;
  }
  cite{
    color: #000;
    font-style: normal;
    font-weight: 500;
  }
/* typography end */

/* general rules start */
  body{
    padding-top: 70px;
  }
  .clearfix::after{
    content: "";
    display: table;
    clear: both;
  }
  .ms_grayback{
    background-color: #f3f5f9;
    padding: 30px 0;
  }
  .ms_section{
    padding: 60px 0;
  }
  .ms_intro{
    margin-bottom: 70px;
  }
  .ms_features_blocks{
    width: 50%;
    height: 200px;
    padding-right: 5px;
    float: left;
  }
  ul{
    padding: 0;
  }
/* general rules end */

/* header start */
  .ms_nav{
    background-color: #fff;
    border: none;
    height: 70px;
  }
  .ms_menu {
    margin-top: 10px;
  }
  .ms_menu li{
    margin-left: -5px;
  }
  .ms_links_nav{
    color: #000;
  }
  .ms_nav .ms_menu > li > .ms_links_nav{
    color: #000;
    font-weight: 500;
  }
  .ms_nav .ms_menu > li > .ms_links_nav:focus, .ms_nav .ms_menu > li > .ms_links_nav:hover {
    color: #006aff;
    background-color: transparent;
  }
  .ms_logo{
    height: 30px;
    margin-top: 4px;
  }
  .ms_button_blue_text{
    color: #006aff;
    border: 1px solid #006aff;
  }
  .ms_burger_menu{
    font-size: 2.3rem;
    margin-top: 23px;
  }
/* header end */

/* main start */
  /* section jumbo start */
    .ms_jumbo{
      background-image: url(../img/bg-home-1-d54581d7.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      padding: 50px 10px;
      margin-bottom: 0;
    }
    .ms_jumbo_text_left{
      padding: 0 40px 0 0;
    }
    .ms_jumbo_text_left h1{
      color: #fff;
    }
    .ms_jumbo_text_left p{
      color: #bbcdff;
    }
    .ms_jumbo_box_right{
      background-color: #fff;
      border-radius: 5px;
      text-align: center;
      margin-top: 5px;
      padding:20px;
    }
    .ms_blue_h3{
      color: #006aff;
      margin-top: 3px;
    }
    .ms_form{
      margin-bottom: 10px;
    }
    .ms_input{
      padding: 20px 0 20px 5px;
      box-shadow: none;
      border: 1px solid rgba(204,204,204, .3);
      font-weight: 500;
    }
    .ms_button_blue{
      width: 100%;
      background-color: #579aff;
      color: #fff;
      font-weight: 500;
      margin-bottom: 10px;
      border: none;
      padding: 8px 0;
    }
    .ms_button_blue:hover, .ms_button_blue:focus {
      background-color: #006aff;
      color: #fff;
      transition: .3s;
    }
    .ms_button{
      position: relative;
      width: 100%;
      font-weight: 500;
      color: #7b7b7b;
      margin-bottom: 12px;
      border: none;
      padding: 8px 0;
      -webkit-box-shadow: 1px 1px 1px 1px rgba(207,207,207,1);
      -moz-box-shadow: 1px 1px 1px 1px rgba(207,207,207,1);
      box-shadow: 1px 1px 1px 1px rgba(207,207,207,1);
    }
    .ms_button .ms_icon_btn{
      position: absolute;
      left: 10px;
      height: 20px;
    }
    .ms_jumbo_box_right p{
      font-size: 1.2rem;
      font-weight: 500;
    }
    .ms_jumbo_box_right p a{
      text-decoration: underline;
    }
  /* section jumbo end */

  /* section clients start */
    .ms_clients h2{
      font-size: 1.6rem;
      color: #6f7b97;
    }
    .ms_list_img li{
      display: inline-block;
      vertical-align: middle;
      padding: 20px 10px;
    }
    .ms_list_img li img{
      width: 160px;
    }
    .ms_clients a{
      font-weight: 500;
    }
  /* section clients end */

  /* section features start */
    .ms_container_features{
      max-width: 900px;
      margin: 0 auto;
    }
    .ms_click_list{
      list-style-type: none;
      margin-bottom: 20px;
    }
    .ms_click_list li{
      padding: 10px 0 10px 10px;
      border-left: 2px solid #ccc;
    }
    .ms_click_list li:hover{
      border-left: 2px solid #006aff;
    }
    .ms_click_list li:first-child{
      border-left: 2px solid #006aff;
    }
    .ms_click_list li a{
      font-size: 2rem;
      color: #75809a;
    }
    .ms_click_list li:first-child a{
      font-size: 2rem;
      color: #000;
    }
    .ms_click_list li a:hover{
      color: #000;
      text-decoration: none;
    }
    .ms_click_list li a:focus{
      color: #000;
      text-decoration: none;
    }
  /* section features end */

  /* section for developers start */
    .ms_carousel_wrap{
      width: 600px;
      margin: 0 auto 20px;
      display: inline-block;
    }
    .ms_arrows{
      font-size: 3rem;
      padding: 0 30px;
    }
    .ms_carousel_wrap .ms_carousel_img{
      width: 100%;
    }
    figcaption p{
      color: #031c4e;
      font-weight: 500;
    }
  /* section for developers end */

  /* section business needs start */
    .ms_business_needs .ms_intro h2{
      margin-bottom: -30px;
    }
    .ms_3block_inline{
      width: calc(100%/3);
      padding: 0 20px;
    }
  /* section business needs end */

  /* section servers start */
    .ms_blue_gradient{
      background: rgb(0,22,110);
      background: -moz-linear-gradient(0deg, rgba(0,22,110,1) 0%, rgba(0,30,153,1) 0%, rgba(0,72,197,1) 100%);
      background: -webkit-linear-gradient(0deg, rgba(0,22,110,1) 0%, rgba(0,30,153,1) 0%, rgba(0,72,197,1) 100%);
      background: linear-gradient(0deg, rgba(0,22,110,1) 0%, rgba(0,30,153,1) 0%, rgba(0,72,197,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00166e",endColorstr="#0048c5",GradientType=1);
    }
    .ms_list_servers{
      margin-top: 10px;
    }
    .ms_list_servers li{
      list-style: none;
      padding: 10px 0;
      border-bottom: 1px solid #fff;
      color: #fff;
      font-size: 1.2rem;
      position: relative;
      padding-left: 10px;
    }
    .ms_list_servers li a{
      position: absolute;
      right: 0;
      color: #00d7d2;
    }
    .ms_list_servers li .ms_nation{
      color: #b8c5e7;
      margin-left: 40px;
    }
  /* section servers end */

  /* section reviews start */
    .ms_review_wrap{
      width: 550px;
      padding: 70px 20px;
      margin: 0 auto 20px;
      background-color: #fff;
      display: inline-block;
      vertical-align: middle;
    }
    .ms_review_wrap img{
      padding-bottom: 20px;
    }
    .ms_review_container img{
      display: block;
      margin: 0 auto;
    }
  /* section reviews end */
/* main end */

/* footer start */
  footer{
    background-color: #031c4e;
    padding: 70px 0;
    color: #7a859d;
    font-weight: 500;
  }
  footer img{
    padding-bottom: 10px;
  }
  footer p{
    margin-bottom: 0;
  }
  .ms_darker{
    color: #5a6887;
  }
  .ms_footer_social_list{
    padding: 0;
  }
  .ms_footer_social_list li{
    display: inline-block;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 2.2rem;
  }
  .ms_footer_social_list li a{
    color: #7a859d;
  }
  .ms_menu_list{
    list-style-type: none;
  }
  .ms_menu_list li{
    padding: 5px 0;
  }
  .ms_menu_list li a{
    color: #a6adbd;
  }
/* footer end */

/* chat start */
  .ms_chat_box {
    position: fixed;
    width: 100%;
    bottom: 20px;
    text-align: left;
  }
  .ms_container_chat{
    position:relative;
  }
  .ms_chat_box_message {
    position: absolute;
    bottom: 20px;
    right: 130px;
    padding: 10px;
    width: 300px;
    color: #031c4e;
    font-size: 1.1em;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .ms_chat_box_message p {
    margin: 0;
  }
  .ms_chat_box_message i {
    position: absolute;
    bottom: 2px;
    right: -12px;
    color: #fff;
    font-size: 2.5em;
  }
  .ms_chat_box_icon_wrap{
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
  .ms_chat_box_icon {
    display: inline-block;
    position: relative;
    padding: 5px;
    background-color: #006aff;
    border-radius: 5px;
  }
  .ms_chat_box_icon img {
    height: 50px;
  }
  .ms_chat_box_message_number{
    position: absolute;
    top: -15px;
    right: -10px;
    width: 30px;
    line-height: 20px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    background-color: red;
    border: 5px solid #fff;
    border-radius: 50%;
  }
/* chat ends*/

/* inizio media query xs */
  @media all and (max-width: 767px) {
    /* section features start */
      .ms_features_blocks{
        width: 100%;
        height: 100%;
      }
    /* section features end */

    /* section developers start */
      .ms_carousel_wrap{
        width: 350px;
      }
    /* section developers end */

    /* section reviews start */
      .ms_review_wrap{
        width: 300px;
      }
      .ms_review_wrap img{
        width: 250px;
        padding-bottom: 20px;
      }
    /* section reviews end */

    /* chat start */
    .ms_chat_box_message {
      width: 200px;
    }
    /* chat end */
  }
/* fine media query xs */

/* inizio media query sm md */
  @media all and (min-width: 768px) and (max-width: 1199px) {
    /* section clients start */
      .ms_list_img li img{
        width: 110px;
      }
      .ms_list_img li{
        padding: 18px 3px;
      }
    /* section client end */
    /* section business needs start */
      .ms_3block_inline{
        margin-bottom: 60px;
      }
    /* section business needs end */
  }
/* fine media query sm md */

/* inizio media query lg */
  @media all and (min-width: 1200px) {
    /* section clients start */
      .ms_list_img li{
        padding: 0 3px;
      }
    /* section client end */
  }
/* fine media query lg */
